<mat-toolbar class="custom-toolbar">
  <span>Śledzik</span>
  <span class="example-spacer"></span>
  <div class="right-buttons">
<!--    <button mat-button routerLink="/" class="custom-button">Home</button>-->
    <button mat-button routerLink="/employees" class="custom-button">Employees</button>
    <button mat-button routerLink="/car" class="custom-button">Car</button>
    <button mat-button routerLink="/vacation" class="custom-button">Vacation</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
